AddType image/svg+xml .svg .svgz

<IfModule mod_expires.c>
FileETag None
ExpiresActive On
ExpiresByType image/png "access 6 months"
ExpiresByType image/svg+xml "access 6 months"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType image/x-icon "access 6 months"
ExpiresDefault "access 1 month"
</IfModule>

<filesMatch ".(css|html|js)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

<filesMatch ".(svg|png|ico)$">
Header set Cache-Control "max-age=15552000, public"
</filesMatch>
