#Short-term
<filesMatch ".(css)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>

#Mid-term
<filesMatch ".(svg|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

#Long-term
<filesMatch ".(ico|png)$">
Header set Cache-Control "max-age=15768000, public"
</filesMatch>
