/*
Flexr Grid  ---  Alpha 2.1
Copyright 2016 Flexr. All rights reserved.
More info at flexrgrid.com
*/

.row, div[class^="col"], *[class*="logo-"], *[class*="menu-"], nav, section, footer {
    height: auto;
    position: relative
}

nav, .row, *[class*="jus-"], *[class*="logo-"], *[class*="menu-"] {
    display: flex
}

nav, section, footer {
    width: 100%
}

*[class^="col"], section {
    overflow: hidden
}

.row {
    width: 1152px;
    margin: 0 auto;
    flex-wrap: wrap
}

.set .row {
    height: 100%;
    align-items: center
}

*[class*="jus"] {
    flex-wrap: wrap
}

.spc {
    justify-content: space-between
}

.jus-c {
    justify-content: center
}

.jus-r {
    justify-content: flex-end
}

div[class^="col"], *[class*="logo-"], *[class*="menu-"] {
    padding: 14px;
    box-sizing: border-box
}

.col-1, .logo-s {
    width: 8.3333%
}

.col-2, .logo-m {
    width: 16.6666%
}

.col-3, .menu-s, .logo-l {
    width: 24.9999%
}

.col-4, .menu-m {
    width: 33.3332%
}

.col-5, .menu-l {
    width: 41.6665%
}

.col-6, .menu-xl {
    width: 49.9998%
}

.col-7 {
    width: 58.3331%
}

.col-8 {
    width: 66.6664%
}

.col-9 {
    width: 74.9997%
}

.col-10 {
    width: 83.333%
}

.col-11 {
    width: 91.6663%
}

.col-12 {
    width: 99.9996%
}


/*   Smaller Desktop Screens & Tablet Landscape   */

@media only screen and (max-width : 1180px) {

    .row {
        width: calc(100% - 28px)
    }

}


/*    Tablet Portait   */

@media only screen and (max-width : 940px) {

    .row {
        width: calc(100% - 24px)
    }

    div[class^="col"], *[class*="logo-"], *[class*="menu-"] {
        padding: 12px
    }

    .m-full {
        width: 100%;
        margin: 0
    }

    .exp .col-1 {
        width: 16.6666%
    }

    .exp .col-2 {
        width: 33.3332%
    }

    .exp .col-3 {
        width: 49.9998%
    }

    .exp .col-4, .exp .col-5, .exp .col-6, .exp .col-7, .exp .col-8, .exp .col-9, .exp .col-10, .exp .col-11 {
        width: 99.9996%
    }

}


/*    Phone Landscape   */

@media only screen and (max-width : 740px) {

    .row {
        width: calc(100% - 16px)
    }

    div[class^="col"], *[class*="logo-"], *[class*="menu-"] {
        padding: 8px
    }

    .logo-m {
        width: 110px
    }

}


/*    Phone Portrait   */

@media only screen and (max-width : 520px) {


    div[class^="col"], .exp div[class^="col"] {
        width: 100%
    }

    .exp .col-1 {
        width: 50% !important;
    }

    .exp .col-1:nth-of-type(odd) {
        padding-right: 8px
    }

    .exp .col-1:nth-of-type(even) {
        padding-left: 8px
    }

}
