/*! Flexr Grid - 2.1.0
Copyright 2016-2017 Daniel Blake. All rights reserved. flexrgrid.com */
.row, [class*=col-] {
  height: auto;
}

.row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 1152px;
  margin: 0 auto;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

[class*=col-] {
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66666%;
}

.col-3 {
  width: 24.99999%;
}

.col-4 {
  width: 33.33332%;
}

.col-5 {
  width: 41.66665%;
}

.col-6 {
  width: 49.99998%;
}

.col-7 {
  width: 58.33331%;
}

.col-8 {
  width: 66.66664%;
}

.col-9 {
  width: 74.99997%;
}

.col-10 {
  width: 83.3333%;
}

.col-11 {
  width: 91.66663%;
}

.col-12 {
  width: 99.99996%;
}

.left, .jus-l {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.right, .jus-r {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.col-x {
  width: auto;
}

.stretch, .fill {
  width: 100%;
}
.stretch [class*=col-], .fill [class*=col-] {
  padding: 0;
}

@media (max-width: 1180px) {
  .row:not(.stretch), .row:not(.fill) {
    width: calc(100% - 30px);
  }
  .row .tl-col-1 {
    width: 8.33333%;
  }
  .row .tl-col-2 {
    width: 16.66666%;
  }
  .row .tl-col-3 {
    width: 24.99999%;
  }
  .row .tl-col-4 {
    width: 33.33332%;
  }
  .row .tl-col-5 {
    width: 41.66665%;
  }
  .row .tl-col-6 {
    width: 49.99998%;
  }
  .row .tl-col-7 {
    width: 58.33331%;
  }
  .row .tl-col-8 {
    width: 66.66664%;
  }
  .row .tl-col-9 {
    width: 74.99997%;
  }
  .row .tl-col-10 {
    width: 83.3333%;
  }
  .row .tl-col-11 {
    width: 91.66663%;
  }
  .row .tl-col-12 {
    width: 99.99996%;
  }
}
@media (max-width: 940px) {
  [class*=col-] {
    padding: 12px;
  }

  .row:not(.stretch), .row:not(.fill) {
    width: calc(100% - 24px);
  }
  .row .tp-col-1 {
    width: 8.33333%;
  }
  .row .tp-col-2 {
    width: 16.66666%;
  }
  .row .tp-col-3 {
    width: 24.99999%;
  }
  .row .tp-col-4 {
    width: 33.33332%;
  }
  .row .tp-col-5 {
    width: 41.66665%;
  }
  .row .tp-col-6 {
    width: 49.99998%;
  }
  .row .tp-col-7 {
    width: 58.33331%;
  }
  .row .tp-col-8 {
    width: 66.66664%;
  }
  .row .tp-col-9 {
    width: 74.99997%;
  }
  .row .tp-col-10 {
    width: 83.3333%;
  }
  .row .tp-col-11 {
    width: 91.66663%;
  }
  .row .tp-col-12 {
    width: 99.99996%;
  }

  .expand .col-1, .exp .col-1 {
    width: 16.66666%;
  }
  .expand .col-2, .exp .col-2 {
    width: 33.33332%;
  }
  .expand .col-3, .exp .col-3 {
    width: 49.99998%;
  }
}
@media (max-width: 740px) {
  [class*=col-] {
    padding: 9px;
  }

  .row:not(.stretch), .row:not(.fill) {
    width: calc(100% - 18px);
  }
  .row .pl-col-1 {
    width: 8.33333%;
  }
  .row .pl-col-2 {
    width: 16.66666%;
  }
  .row .pl-col-3 {
    width: 24.99999%;
  }
  .row .pl-col-4 {
    width: 33.33332%;
  }
  .row .pl-col-5 {
    width: 41.66665%;
  }
  .row .pl-col-6 {
    width: 49.99998%;
  }
  .row .pl-col-7 {
    width: 58.33331%;
  }
  .row .pl-col-8 {
    width: 66.66664%;
  }
  .row .pl-col-9 {
    width: 74.99997%;
  }
  .row .pl-col-10 {
    width: 83.3333%;
  }
  .row .pl-col-11 {
    width: 91.66663%;
  }
  .row .pl-col-12 {
    width: 99.99996%;
  }
}
@media (max-width: 470px) {
  [class*=col-]:not(.col-x), .expand [class*=col-]:not(.col-x), .exp [class*=col-]:not(.col-x) {
    width: 100%;
  }

  .row.expand .col-1, .row.exp .col-1 {
    width: 50%;
  }

  .row .pp-col-1 {
    width: 8.33333%;
  }
  .row .pp-col-2 {
    width: 16.66666%;
  }
  .row .pp-col-3 {
    width: 24.99999%;
  }
  .row .pp-col-4 {
    width: 33.33332%;
  }
  .row .pp-col-5 {
    width: 41.66665%;
  }
  .row .pp-col-6 {
    width: 49.99998%;
  }
  .row .pp-col-7 {
    width: 58.33331%;
  }
  .row .pp-col-8 {
    width: 66.66664%;
  }
  .row .pp-col-9 {
    width: 74.99997%;
  }
  .row .pp-col-10 {
    width: 83.3333%;
  }
  .row .pp-col-11 {
    width: 91.66663%;
  }
  .row .pp-col-12 {
    width: 99.99996%;
  }
}
/* Flexr Grid end */
