html, body {
   height: 100vh
}

body {
   @include smoothFonts;
   min-height: 100vh;
   background: $blueGrayTwo;
   font: 300 20px Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

html, body, nav, main, section, header, footer, img, object, svg, address, textarea, button, figure, h1, h2, h3, p, ul, li, a, code, pre {
   padding: 0;
   margin: 0
}

nav, main, section, header, footer, img, object, svg, address, textarea, pre, button, figure, nav a, [role=button] {
   display: block;
   position: relative
}

nav, section, header, footer, img, object {
   @include size(100% auto)
}

img, svg, object {
   @extend %withAll;
}

textarea, button {
   @extend %noOuty;
   @include noLooks;
   overflow: auto;
}

img, a:active, a:focus {
   @extend %noOuty;
}

object {
   pointer-events: none
}

address {
   font-style: normal
}

ul, li {
   position: relative;
   list-style: none
}

address a {
   display: inline-block
}

a {
   @include noTap;
   position: relative;
   text-decoration: none;
}

section {
   padding: 120px 0
}

main ~ section:last-of-type {
   padding: 0 0 130px
}

abbr {
   text-decoration: none
}



//    Text

@for $i from 1 through 3 {
   h#{$i} {
      @extend %titles;
   }
}

h2, li, a, button {
   font-weight: 700;
   line-height: 1.1;
   letter-spacing: .2pt
}

h1, h2 {
   color: $blueGray
}

h1, h2, p, address {
   width: 100%;
   text-align: left
}

h1 {
   font-size: 49px;
   font-weight: 300;
   letter-spacing: -.2pt;

   @include tabletLan {
      font-size: 46px
   };
}

h2 {
   font-size: 29px
}

.header h1 {
   text-align: center
}

p, address, dd {
   line-height: 1.5;
   color: $blueGraySeven;
   letter-spacing: .1pt
}

p {
   @include bodyCopy;

   @include tabletLan {
      font-size: 18px
   };
}

h1 + p {
   margin: 15px 0 0
}

p + .primary {
   margin: 28px auto 0
}

h2:not(:first-of-type) {
   margin-top: 60px
}

h2 + p, p + p, pre + p, dl + p, pre {
   margin-top: 30px
}

button + p {
   margin-top: 100px
}

code {
   margin: 30px 0
}

dl {
   margin: 27px 0 0
}

p strong, p b {
   font-weight: 700;
   letter-spacing: .2pt
}

textarea, code, pre {
   @extend %withAll;
   font-size: 18px;
   line-height: 1.2;
   color: #DDE;
   background: #42425d;
   font-family: monospace;
}

textarea {
   @include size(680px auto);
   @include box-shadow(none);
   padding: 20px 24px 22px;
   resize: none;
   margin: 40px auto 0;
   font-size: 15px;
   white-space: pre-wrap;
   line-height: 1.5;
   word-break: keep-all;
}

p code, pre {
   @include flowage(scroll auto);
   width: 100%;
   padding: 1.6em 2em 1.8em;
}

p code, dt code {
   padding: .2em .7em .3em;
   margin: 0 4px;
   white-space: nowrap
}

pre span, footer a, p a {
   font-weight: 700;
   color: $flexrRed
}

p a:hover, address a:hover {
   color: $blueGraySeven
}

sup {
   vertical-align: top
}

dt, dd {
   display: inline-block;
}

dt {
   width: auto
}

dt:not(:first-of-type) {
   margin-top: 12px
}

dd {
   width: 86%;
   margin-left: 3px;

   @include tabletLan {
      width: 80%
   };

   @include phoneLan {
      width: 72%
   };

   @include phonePor {
      width: 55%;
      font-size: 18px
   };
}


// Global Classes

.null {
    opacity: .4;
    pointer-events: none
}


.header {
    padding: 30px 0 120px
}

.buffer {
    padding: 90px 0 0
}
