html, body {
   height: 100vh
}

body {
   @include smoothFonts;
   min-height: 100vh;
   background: $blueGrayTwo;
   font: 300 20px Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

html, body, nav, main, section, header, footer, img, object, svg, address, textarea, button, figure, h1, h2, h3, p, ul, li, a, code, pre {
   padding: 0;
   margin: 0
}

nav, main, section, header, footer, img, object, svg, address, textarea, pre, button, figure, nav a, [role=button] {
   display: block;
   position: relative
}

nav, section, header, footer, img, object {
   @include size(100% auto)
}

img, svg, object {
   @extend %withAll;
}

textarea, button {
   @extend %noOuty;
   @include noDefault;
   overflow: auto;
}

img, a:active, a:focus {
   @extend %noOuty;
}

object {
   pointer-events: none
}

address {
   font-style: normal
}

ul, li {
   position: relative;
   list-style: none
}

address a {
   display: inline-block
}

a {
   @include noTap;
   position: relative;
   text-decoration: none;
}

section {
   padding: 120px 0
}

main ~ section:last-of-type {
   padding: 0 0 130px
}



//    Text

h2, li, a, button {
   font-weight: 700;
   line-height: 1.1;
   letter-spacing: .2pt
}

h1, h2 {
   color: $blueGray
}

h1, h2, p, address {
   width: 100%;
   text-align: left
}

h1 {
   font-size: 49px;
   font-weight: 300;
   letter-spacing: -.2pt
}

h2 {
   font-size: 30px
}

.header h1 {
   text-align: center
}

p, address {
   line-height: 1.5;
   color: $blueGraySeven;
   letter-spacing: .1pt
}

h1 + p {
   margin: 15px 0 0
}

p + .primary {
   margin: 28px auto 0
}

h2:not(:first-of-type) {
   margin-top: 60px
}

h2 + p {
   margin-top: 30px
}

p + p {
   margin-top: 30px
}


pre + p {
   margin-top: 30px
}

button + p {
   margin-top: 100px
}

p strong, p b {
   font-weight: 700;
   letter-spacing: .2pt
}

textarea, code, pre {
   @extend %withAll;
   font-size: 18px;
   line-height: 1.2;
   color: #DDE;
   background: #42425d;
   font-family: monospace;
}

textarea {
   @include size(702px 4.9em);
   @include shadow(none);
   padding: 26px;
   resize: none;
   margin: 40px auto 0;
   font-size: 14px;
   text-align: center;
   white-space: nowrap;
}

code, pre {
   @include flowage(scroll auto);
   width: 100%;
   padding: 1.6em 2em 1.8em;
   margin: 30px 0;
}

p code {
   padding: .2em .7em .3em;
   margin: 0 4px;
   white-space: nowrap
}

code strong, pre strong, pre b, code b, footer a, p a {
   font-weight: 700;
   color: $flexrRed
}

p a:hover, address a:hover {
   color: $blueGraySeven
}

sup {
   vertical-align: top
}


// Global Classes

.null {
    opacity: .4;
    pointer-events: none
}


.header {
    padding: 30px 0 120px
}

.buffer {
    padding: 90px 0 0
}
