%bold {
   font-weight: 700
}

%light {
   font-weight: 300
}

%color-seven {
   color: $blueGraySeven
}

%useSprite {
    background: url(../img/master-sprite.svg) no-repeat;
    background-size: 600% 400%
}

@mixin break($var) {
   @media only screen and (max-width : #{$var}) {
      @content;
   }
};

@mixin tabletLan {
   @include break(1180px) {
      @content;
   };
}

@mixin tabletPor {
   @include break(940px) {
      @content;
   };
}

@mixin phoneLan {
   @include break(740px) {
      @content;
   };
}

@mixin phonePor {
   @include break(520px) {
      @content;
   };
}

img, a:active, a:focus {
   @extend %noOuty;
}

address {
   font-style: normal
}

ul, li {
   @extend %relative;
   list-style: none
}

address a {
   @extend %inline;
}

main ~ section:last-of-type {
   padding: 0 0 130px;

   @include phoneLan {
      padding: 0 0 60px;
   };
}



//    Text


button + p {
   margin-top: 100px
}

code {
   margin: 30px 0
}

dl {
   margin: 27px 0 0
}

p strong, p b {
   @extend %bold;
   letter-spacing: 0.2pt
}

p code, pre {
   @include flowage(scroll auto);
   width: 100%;
   padding: 1.6em 2em 1.8em;
   font-size: 18px
}

p code, dt code {
   padding: 0.2em 0.7em 0.3em;
   margin: 0 4px;
   white-space: nowrap
}

pre span, footer a, p a {
   @extend %bold;
   color: $flexrRed
}

p a:hover, address a:hover {
   @extend %color-seven;
}

sup {
   vertical-align: top
}

dt, dd {
   @extend %inline;
}

dt {
   width: auto
}

dt:not(:first-of-type) {
   margin-top: 12px
}

dd {
   width: 78%;
   margin-left: 3px;

   @include phoneLan {
      width: 70%
   };

   @include phonePor {
      width: 50%;
      font-size: 18px
   };
}

table {
   @extend %color-seven;
    width: 100%;
    margin: 30px 0 0;
    font-size: 16px;
    background: $blueGrayFive;
    table-layout: fixed;
    border-collapse: collapse;

    @include phoneLan {
      @include flowage(scroll auto);
      display: block;
   };
}

tr:nth-of-type(even) {
    background: $blueGrayFour;
}

td, th {
   @extend %left;
    width: 16.666%;
    padding: 18px;
    border-right: 1px solid $blueGrayTwo;
}

td:last-of-type {
    border-right: none
}


// Global Classes

.null {
    opacity: 0.4;
    pointer-events: none
}


.buffer {
    padding: 90px 0 0
}
