<section class="call-to-action">

    <div class="row">

        <div class="col-12">

            <h1>Flexr Grid</h1>

            <p>A responsive grid for modern browsers. Try&nbsp;it!</p>

        </div>

    </div>

    <div class="row exp">

        <div class="col-2">

            <a href="/get-flexr/" class="primary" title="Download Flexr Grid" role="button">Get Flexr</a>

        </div>

        {% unless page.bodyID == 'how-to' %}

        <div class="col-2">

            <a href="/use-flexr/" class="secondary" title="Flexr Grid Documentation" role="button">Learn More</a>

        </div>

        {% endunless %}

    </div>

</section>
