<section class="cta">

    <div class="row">

        <div class="col-12">

            <h1>Flexr Grid</h1>

            <p>A responsive grid for modern browsers. Try&nbsp;it!</p>

        </div>

    </div>

    <div class="row">

        <div class="col-8">

            <a href="/get-flexr/" class="primary" aria-label="Go to Flexr's download page">Get Flexr</a>

        {%- unless page.bodyID == 'how-to' -%}

            <a href="/use-flexr/" class="secondary" aria-label="Go to Flexr's documentation page">Learn More</a>

        {%- endunless -%}

        </div>

    </div>

</section>
