<meta charset="utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ page.title | default: site.title }}</title>

<meta name="description" content="{{ site.description }}">

<meta name="author" content="{{ site.author }}">

<meta name="designer" content="{{ site.author }}">

<link rel="canonical" href="{{ site.url }}">

<meta name="copyright" content="Copyright {{ site.copyright }}. All rights reserved.">

<meta name="theme-color" content="#2B2B3F">

<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/img/apple-touch-icon-114x114.png">

<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/img/apple-touch-icon-120x120.png">

<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/img/apple-touch-icon-144x144.png">

<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/img/apple-touch-icon-152x152.png">

<link rel="apple-touch-icon" sizes="167x167" href="{{ site.url }}/img/apple-touch-icon-167x167.png">

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/img/apple-touch-icon-180x180.png">

<link rel="icon" type="image/png" href="{{ site.url }}/img/favicon-16x16.png" sizes="16x16">

<link rel="icon" type="image/png" href="{{ site.url }}/img/favicon-32x32.png" sizes="32x32">

<link rel="icon" type="image/png" href="{{ site.url }}/img/favicon-96x96.png" sizes="96x96">

<link rel="icon" sizes="192x192" href="{{ site.url }}/img/touch-icon.png">

<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">

<link rel="mask-icon" href="{{ site.url }}/img/pinned-tab.svg" color="#FF5566">

<link rel="manifest" href="{{ site.url }}/mainfiest.json">

<meta name="msapplication-TileColor" content="#2B2B3F">

<meta name="msapplication-TileImage" content="{{ site.url }}/img/mstile-144x144.png">

<meta name="msapplication-config" content="{{ site.url }}/browserconfig.xml">

<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:title" content="{{ page.title | default: site.title }}">

<meta name="twitter:description" content="{{ site.description }}">

<meta name="twitter:image" content="{{ site.url }}/img/flexr-og.png">

<meta name="twitter:image:alt" content="The Flexr Grid logotype">

<meta property="og:title" content="{{ page.title | default: site.title }}">

<meta property="og:description" content="{{ site.description }}">

<meta property="og:image" content="{{ site.url }}/img/flexr-og.png">

<meta property="og:image:width" content="526">

<meta property="og:image:height" content="275">

<meta property="og:url" content="{{ site.url }}">

<meta property="og:type" content="website">

<style type="text/css">body{background:#2E2E42}</style>

<script src="/dist/google-analytics.js" type="text/javascript"></script>

<script defer src="/dist/flexr.min.js" type="text/javascript"></script>

<script type="application/ld+json">
{
   "@context":"http://schema.org",
   "@type":"Product",
   "additionalType":"http://www.productontology.org/id/CSS_framework",
   "name":"FLexr Grid",
   "description":"Flexr is a CSS responsive grid framework for modern browsers.",
   "url":"http://flexrgrid.com",
   "logo":"http://flexrgrid.com/img/flexr-og.png",
   "email":"daniel@danielblake.design"
}
</script>

<noscript id="deferred-styles">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet'>
</noscript>

<script>var loadDeferredStyles=function(){var e=document.getElementById("deferred-styles"),t=document.createElement("div");t.innerHTML=e.textContent,document.body.appendChild(t),e.parentElement.removeChild(e)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(function(){window.setTimeout(loadDeferredStyles,0)}):window.addEventListener("load",loadDeferredStyles);</script>

<!--[if IE]>
<link href="https://cdn.jsdelivr.net/gh/dmbdesignpdx/flexr@2.0.5/flexr.css" rel="stylesheet">
<link href="/css/master.css" rel="stylesheet">
<![endif]-->
