<header>

    <nav id="nav">

        <ul class="row">

            <li><a class="col-x" href="/" aria-label="Go to Flexr's home page"><svg viewBox="0 0 266 74" style="fill:#F56" role="img" aria-label="Flexr Grid logotype"><path d="M248,46c0-3.7,3.6-9.6,11-9.6,4,0,5,.6,5,.6l2-20s-11.5-3.3-18.7,7H247V18H225V72h23Z"/><polygon points="152.4 18 171.6 44.3 151 72 177.3 72 186 59.8 194.3 72 221 72 200.8 44.3 220 18 194.3 18 186.7 29.3 179 18 152.4 18"/><path d="M153.6,45c0-14-9.2-29-28.2-29S95.6,29.2,95.6,45s12.5,29,29.8,29C146.2,74,152,61.5,152,61.5l-16.7-8.3a11.6,11.6,0,0,1-8.8,3.6c-6,0-9-3.5-9-6.3h36S153.6,47.7,153.6,45Zm-36.4-7s.8-6.6,8.4-6.6c6,0,7.7,4,7.7,6.6Z"/><path d="M66,0h24v72h-24"/><path d="M0,52h24v20h-24"/><path d="M0,26h42v20h-42"/><path d="M0,0h60v20h-60"/></svg></a></li>

            <li><a class="col-x links" href="/flexr-grid/" aria-label="Go to Flexr's grid-testing page">The Grid</a></li>

            <li><a class="col-x links" href="/use-flexr/" aria-label="Go to Flexr's documentation page">Use It</a></li>

            <li><a class="col-x links" href="/get-flexr/" aria-label="Go to Flexr's download page">Get It</a></li>

        </ul>

    </nav>

</header>
