%buttonStyle {
   @extend %noTap;
   @include btnAbs(150px 60px);
   margin: 50px auto 0;
   font-size: 1em;
   text-align: center;
   color: $blueGraySeven;
   background: $flexrRed;
}

.primary {
   @extend %buttonStyle;

   &:hover {
      color: $flexrRed;
      background: $blueGraySeven;
      cursor: pointer;
   }
   &:active {
      color: $flexrRed;
      background: $blueGraySeven;
   }

   @include phonePor {
      margin: 50px auto 20px
   };
}

.secondary {
   @extend %buttonStyle;
   color: #FA6;
   background: none;

   &:hover {
      color: $blueGraySeven;
      cursor: pointer
   }
   &:active {
      color: $blueGraySeven;
   }

   @include phonePor {
      margin: 0 auto;
   };
}
