.primary {

   &:hover {
      color: $flexrRed;
      background: $blueGraySeven;
      cursor: pointer;

      @include phoneLan {
         color: $blueGraySeven;
         background: $flexrRed;
      };
   }
   &:active {
      color: $flexrRed;
      background: $blueGraySeven;
   }
}

.secondary {

   &:hover {
      @extend %color-seven;
      cursor: pointer;

      @include phoneLan {
         color: $orange;
      };
   }

   &:active {
      @extend %color-seven;
   }

}
