//  Navigation

#nav {
    @include size(100%,112px);
    padding-top: 1px;
    padding-bottom: 0;
    position: fixed;
    top: -1px;
    left: 0;
    bottom: auto;
    z-index: 999;
    background: $blueGrayTwo;
    @include timing(.3s);
    @extend %smoothMove;

    .row {
        height: 100%;
        @include timing(.3s);
    }

    a {
        margin-top: auto;
        margin-bottom: auto
    }

    .links {
        margin-left: 30px;
        color: $blueGraySeven;

        &:hover, &:active {
            color: $flexrRed
        }

        &::before {
            display: none;
            width: 28px;
            height: 28px;
            content: '';
            @extend %useSprite;
        }
    }

    a[href^="get-flexr"] {
        color: $blueGrayTwo;
        background: $cyan;
        margin-right: 15px;
        margin-left: 45px;

        &:hover, &:active {
            color: $blueGrayTwo;
            background: $blueGraySeven
        }
    }

    a[href^="flexr-grid"]::before {
        background-position: 0 66.666%
    }

    a[href^="use-flexr"]::before {
        background-position: 20% 66.666%
    }

    a[href^="get-flexr"]::before {
        background-position: 40% 66.666%
    }

    a[href^="index"] {
        width: 170px;
        margin-right: auto;
        cursor: default;

        img {
            cursor: pointer;
            @extend %smoothMove;

            &:hover {
                @include filters(hue-rotate(240deg) saturate(10%) brightness(190%));
            }
        }
    }
}

//  Page Indication

#the-grid #nav a[href^="flexr-grid"], #how-to #nav a[href^="use-flexr"] {
    color: $flexrRed
}

#download #nav a[href^="get-flexr"] {
    background: $blueGraySeven
}

#the-grid #nav a[href^="flexr-grid"]::before, #how-to #nav a[href^="use-flexr"]::before, #download #nav a[href^="get-flexr"]::before {
    background-position-y: 100%
}



//  Footer

%footerText{
    font-size: 14px;
    line-height: 1.4em;
    color: $blueGraySix
}

footer {
    background: $blueGrayOne;

    .row div:last-child {
        @extend %flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    img {
        width: 27%;
        margin-top: 50px;
        -webkit-align-self: flex-start;
        align-self: flex-start;
        @include filters(hue-rotate(240deg) saturate(10%) brightness(110%));
    }

    address {
        width: 73%;
        padding: 50px 0;
        @extend %footerText;
    }

    small {
        margin-bottom: 50px;
        align-self: flex-end;
        @extend %footerText;
    }

    a {
        margin-top: 40px
    }
}
