//  Global Invisible Classes


%noTap {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: none;
    tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: transparent;
    tap-highlight-color: none;
}

%smoothMove {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

%smoothFonts {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

%flex {
    display: -webkit-flex;
    display: flex;
}

%useSprite {
    background: url(../img/master-sprite.svg) no-repeat;
    background-size: 600% 400%
}


//  Icons

.with-icon::before {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto 26px;
    content: '';
    @extend %useSprite;
    background-position: 0 0
}

.header .with-icon::before {
    margin: 0 auto -10px
}



//   Buttons


%buttonStyle {
    width: 150px;
    height: auto;
    margin: 50px auto 0;
    font-size: 1em;
    text-align: center;
    letter-spacing: .3pt;
    color: $blueGraySeven;
    line-height: 60px;
    background: $flexrRed;
    @extend %noTap;
}

.primary {
    @extend %buttonStyle;

    &:hover {
        color: $flexrRed;
        background: $blueGraySeven;
        cursor: pointer;
        @include trasnform(scale(1.05));
    }
}

.secondary {
    @extend %buttonStyle;
    color: #FA6;
    background: none;

    &:hover {
        color: $blueGraySeven;
        background: none;
        cursor: pointer
    }
}

.null {
    opacity: .4;
    pointer-events: none
}


.header {
    padding: 30px 0 120px
}

.buffer {
    padding: 90px 0 0
}



//  JS Classes

.nav-scroll {
    height: 80px !important;
    box-shadow: 0 2px 5px rgba(0,0,30,.3)
}

.forIntro #hero-text {
    opacity: 0
}

.forIntro #top, .forIntro #bottom {
    @include trasnform(translateY(100%))
}
