%noTap {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: none;
    tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: transparent;
    tap-highlight-color: none;
}

%smoothMove {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

%smoothFonts {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


//  JS Classes

.nav-scroll {
    height: 80px !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.3)
}

.show-menu #menu {
    box-shadow: 3px 0 5px rgba(0,0,0,.3);
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.show-menu #poma::before {
    left: 0;
    opacity: .5;
    -webkit-transition: opacity .4s, left 0s 0s;
    transition: opacity .4s, left 0s 0s
}

.forIntro #hero-text {
    opacity: 0
}

.forIntro #top, .forIntro #bottom {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}
