%footerText{
    font-size: 14px;
    line-height: 1.4em;
    color: $blueGraySix
}

footer {
    background: $blueGrayOne;

    .row div:last-child {
        @extend %flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    img {
        width: 27%;
        margin-top: 50px;
        -webkit-align-self: flex-start;
        align-self: flex-start;
        @include filters(hue-rotate(240deg) saturate(10%) brightness(110%));
    }

    address {
        width: 73%;
        padding: 50px 0;
        @extend %footerText;
    }

    small {
        margin-bottom: 50px;
        align-self: flex-end;
        @extend %footerText;
    }

    a {
        margin-top: 40px
    }
}
