#nav {
    height: 112px;
    padding-top: 1px;
    position: fixed;
    top: -1px;
    left: 0;
    z-index: 999;
    background: $blueGrayTwo;
    @include timing(.3s);
    @extend %smoothMove;

    .row {
        height: 100%;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        @include timing(.3s);
    }

    .links {
        display: inline-block;
        padding: 10px;
        color: $blueGraySeven;

        &:hover, &:active {
            color: $flexrRed
        }
    }

    #dl {
        padding: 10px 18px;
        color: $blueGrayTwo;
        background: $cyan;

        &:hover, &:active {
            background: $blueGraySeven
        }
    }
}

#logo {
    width: 170px;
    cursor: default;

    img {
        cursor: pointer;
        @extend %smoothMove;

        &:hover {
            @include filters(hue-rotate(240deg) saturate(10%) brightness(190%));
        }
    }
}

#poma {
    @include size(40px);
    padding: 5px 12px;
    position: absolute;
    @include where(0,auto,0,-9999px);
    margin: auto;

    svg {
        fill: none;
        stroke: $blueGraySeven;
        stroke-width: 5px
    }

    &:active {
        stroke: $flexrRed
    }
}

#menu {
    @extend %flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: $blueGrayTwo;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s
}


//  Page Indication

#the-grid #grid, #how-to #doc {
    color: $flexrRed
}

#download #dl {
    background: $blueGraySeven
}
