//   Small Screens/Tablet Landscape

@media only screen and (max-width : 1180px) {

    h1 {
        font-size: 46px
    }

    h2 {
        font-size: 29px
    }

    p {
        font-size: 18px
    }

}



//   Tablet Portrait

@media only screen and (max-width : 940px) {

    #nav .links {
        font-size: 17px
    }

    #browsers .browser {
        width: 60%
    }

    .testr {
        position: absolute;
        left: -9999px
    }

    td {
        padding: 18px
    }

}



//    Phone Landscape

@media only screen and (max-width : 740px) {

    h1 {
        font-size: 30px
    }

    h2 {
        font-size: 21px
    }

    h1 ~ p {
        margin: 15px 0 0
    }

    #nav {
        height: 56px;

        a[href^="index"] {
            width: 110px;

            img {
                @include filter(hue-rotate(240deg) saturate(10%) brightness(190%));

                &:active {
                    @include filter(none);
                }
            }
        }
    }

    #home #nav a[href^="index"] img {
        @include filter(none);
    }

    .nav-scroll {
        height: 56px !important
    }

    .header {
        padding: 30px 0 60px
    }

    section {
        padding: 60px 0
    }

    main ~ section:last-of-type {
        padding: 0 0 60px
    }

    #hero {
        padding: 60px 0 20px
    }

    #hero-text {

        p {
            padding-bottom: 30px
        }

        .secondary {
            width: 90px;
            margin-left: 10px
        }
    }

    table {
        display: block;
        overflow-x: scroll;
        overflow-y: auto;
        font-size: 16px;
    }

    td {
        padding: 14px
    }

    .with-icon::before {
        width: 150px;
        height: 150px
    }

    textarea {
        width: 100%;
        overflow-x: scroll;
        overflow-y: auto;
    }

}



//   Phone Portrait

@media only screen and (max-width : 520px) {

    %textAlign {
        text-align: center
    }

    h1 {
        font-size: 36px
    }

    #nav {
        padding-top: 0;
        padding-bottom: 1px;
        top: auto;
        bottom: -1px;
        background: lighten($blueGrayTwo,2);
        box-shadow: 0 -1px 4px rgba(0,0,30,.3);

        .row ul li {
            margin: auto
        }

        a[href^="index"] {
            width: 90px
        }

        a[href^="get-flexr"] {
            color: $blueGraySeven;
            background: none;

            &:hover, &:active {
                background: none;
            }
        }

        ul .links {
            margin: 0;
            font-size: 0
        }

        .links::before {
            display: block
        }

        ul .links:active::before {
            background-position-y: 100%
        }
    }

    #download #nav a[href^="get-flexr"] {
        background: none
    }

    #hero {
        padding: 60px 0
    }

    main section:first-of-type {
        padding: 0
    }

    #download .header {
        padding: 30px 0 0
    }

    #hero-text {
        margin-bottom: 20px;
        -webkit-justify-content: center;
        justify-content: center;

        p {
            margin: 20px auto 0;
            @extend %textAlign;
        }

        h1 {
            @extend %textAlign;
        }

        a {
            margin: 0 auto 20px
        }
    }

    #expand-text {

        h1 {
            @extend %textAlign;
        }

        p {
            @extend %textAlign;
        }
    }

    #expand-image {
        order: 2
    }

    #browsers {

        .browser {
            width: 40%
        }
    }

    #flexr-plus {
        margin-top: 30px
    }

    .call-to-action p {
        box-sizing: border-box;
        padding: 0 15px
    }

    .primary {
        margin: 50px auto
    }

    .secondary {
        margin: 0 auto;
    }

    footer {

        img {
            width: 24%;
            margin: 0
        }

        a {
            margin-top: 20px
        }

        small {
            margin-top: 30px
        }
    }

}
