$flexrRed: #F56;
$cyan: #3DD;
$orange: #FA6;

$blueGrayOne: #222233;
$blueGrayTwo: #2E2E42;
$blueGrayThree: #38384E;
$blueGrayFour:#40405C;
$blueGrayFive: #464661;
$blueGray: #99B;
$blueGraySix: #AAB;
$blueGraySeven: #EEF;
