$flexrRed: #F56;
$cyan: #3DD;
$orange: #FA6;

$blueGrayOne: #202031;
$blueGrayTwo: #2B2B3F;
$blueGrayThree: #34344A;
$blueGrayFour:#3C3C58;
$blueGrayFive: #42425D;
$blueGray: #99B;
$blueGraySix: #AAB;
$blueGraySeven: #EEF;
