//  Imports

@import "variables";
@import "mixins";
@import "classes";

//  Global Values and Resets


html, body {
    height: 100vh;
    padding: 0;
    margin: 0
}

body {
    min-height: 100vh;
    background: $blueGrayTwo;
    font: 300 19px Roboto, 'Helvetica Neue', Helvetica, sans-serif;
    @extend %smoothFonts;
}

nav, main, section, header, footer, img, object, svg, address, a, textarea, button {
    display: block;
    position: relative
}

nav, section, header, footer, img, object {
    @include size(100%,auto);
}

img, svg, object {
    box-sizing: border-box
}

textarea, button {
    border: none;
    outline: none;
    overflow: auto;
    -webkit-appearance: none;
    appearance: none;
}

img, a:active, a:focus {
    border: none;
    outline: none
}

object {
    pointer-events: none
}

address {
    font-style: normal
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}

a {
    text-decoration: none;
    @extend %noTap;
}


//    Text

h1, h2, p, li, a, code, pre, address, textarea, button {
    margin: 0
}

h2, li, a, button {
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: .2pt
}

h1, h2 {
    color: $blueGray
}

h1, h2, p, address {
    width: 100%;
    text-align: left
}

h1 {
    font-size: 49px;
    font-weight: 300;
    letter-spacing: -.2pt
}

h2 {
    font-size: 30px
}

.header h1, .call-to-action h1, .call-to-action p {
    text-align: center
}

p, address {
    line-height: 1.4em;
    color: $blueGraySeven;
    letter-spacing: .1pt
}

h1 ~ p {
    margin: 15px 0 0
}

h2 ~ p, p ~ p {
    margin: 20px 0 0
}

p ~ .primary {
    margin: 28px auto 0
}

pre ~ p {
    margin: 0 0 30px
}

button ~ p {
    margin-top: 100px
}

p strong, p b {
    font-weight: 700;
    letter-spacing: .2pt
}

h2 b {
    font-weight: inherit;
    color: $flexrRed
}

textarea, code, pre {
    padding: 22px 26px 24px;
    box-sizing: border-box;
    font-size: 14px;
    color: #DDE;
    background: #42425d;
    font-family: monospace;
}

textarea {
    width: 694px;
    overflow: auto;
    box-shadow: none;
    resize: none;
    margin: 40px auto 0;
    text-align: center;
    white-space: nowrap;
}

code, pre {
    width: 100%;
    margin: 30px 0;
    overflow-x: scroll;
    overflow-y: auto;
}

p code {
    padding: 5px 12px 6px;
    margin: 0 4px;
    white-space: nowrap
}

code strong, pre strong, pre b, code b, footer a, p a {
    display: inline-block;
    font-weight: 700;
    color: $flexrRed
}

p a:hover, address a:hover {
    color: $blueGraySeven
}



//   Navigation

@import "navigation";



//   Main Content for Pages

@import "main";



//    Footer

@import "footer";



//  Resizing

@import "resize";
