header {
   @include smoothParent;
   z-index: 999;
}

#nav {
   @include smoothMover;
   @include xy(-1px 0);
   @include time(.3s);
   height: 112px;
   padding: 1px 0 0;
   position: fixed;
   background: $blueGrayTwo;

   ul.row {
      height: 100%
   }

   li {
      margin-top: auto;
      margin-bottom: auto
   }

   li:first-of-type {
      margin-right: auto;
   }

   li:nth-of-type(1n+2) {
      margin-left: 30px
   }

   .links {
      color: $blueGraySeven;

      &:hover, &:active {
         color: $flexrRed
      }

      &::before {
         @extend %useSprite;
         @include size(28px);
         display: none;
         content: ''
      }
   }

   a[href="/get-flexr/"] {
      margin-right: 15px;
      margin-left: 15px;
      color: $blueGrayTwo;
      background: $cyan;

      &:hover, &:active {
         color: $blueGrayTwo;
         background: $blueGraySeven
      }

      &::before {
         background-position: 40% 66.666%
      }
   }

   a[href="/flexr-grid/"]::before {
      background-position: 0 66.666%
   }

   a[href="/use-flexr/"]::before {
      background-position: 20% 66.666%
   }

   a[href="/"] {
      width: 170px;
      cursor: default;

      img {
         padding-top: 1px;
         cursor: pointer;

         &:hover {
            @include mix(hue-rotate(240deg) saturate(10%) brightness(190%));
         }
      }
   }
}



#the-grid #nav a[href="/flexr-grid/"], #how-to #nav a[href="/use-flexr/"] {
   color: $flexrRed
}

#download #nav a[href="/get-flexr/"] {
   background: $blueGraySeven
}

#the-grid #nav a[href="/flexr-grid/"]::before, #how-to #nav a[href="/use-flexr/"]::before, #download #nav a[href="/get-flexr/"]::before {
   background-position-y: 100%
}
