@import "../_sass/_vendor/flexr", "../_sass/_vendor/turntable";

$flexrRed: #F56;
$cyan: #3DD;
$orange: #FA6;

$blueGrayOne: #222233;
$blueGrayTwo: #2E2E42;
$blueGrayThree: #38384E;
$blueGrayFour:#40405C;
$blueGrayFive: #464661;
$blueGray: #99B;
$blueGraySix: #AAB;
$blueGraySeven: #EEF;



html, body {
   height: 100vh;
   background: #2E2E42
}

body {
   min-height: 100vh;
   font: 300 20px Roboto, sans-serif
}

html, body, nav, main, section, header, footer, img, object, svg, address, textarea, button, figure, h1, h2, h3, p, ul, li, a, code, pre {
   padding: 0;
   margin: 0
}

nav, main, section, header, footer, img, object, svg, address, textarea, pre, button, figure, nav a, div, [role=button], .with-icon::before {
   display: block;
   position: relative;
}

nav, section, header, footer, img, object, #hero .container {
   @include size(100% auto)
}

img, svg, object {
   box-sizing: border-box;
   font-size: 0
}

a, abbr {
   text-decoration: none
}

a, .primary, .secondary {
   @include noTap;
}

h2, li, a, button {
   font-weight: 700;
   letter-spacing: 0.2pt
}

h1, h2, p, address {
   text-align: inherit;
   width: 100%
}

h1, h2, h3 {
   @include titles;
}

section {
   padding: 120px 0
}

h1, h2 {
   color: #99B
}

h1 {
   font-size: 47px;
   font-weight: 300;
   letter-spacing: -0.2pt
}

p, address, dd {
   color: $blueGraySeven;
   line-height: 1.5;
   letter-spacing: 0.1pt
}

h1 + p {
   margin: 15px 0 0
}

p + .primary {
   margin: 28px auto 0
}

.with-icon::before, #nav .links::before {
    background: url(../img/master-sprite.svg) no-repeat;
    background-size: 600% 400%
}

// Nav

#nav {
   @include xy(-1px 0);
   @include size(100% 112px);
   padding: 1px 0 0;
   position: fixed;
   z-index: 999;
   background: $blueGrayTwo;

   nav.row {
      height: 100%
   }

   a {
      margin-top: auto;
      margin-bottom: auto;

      &:first-of-type {
         margin-right: auto
      }

      &:nth-of-type(1n+2) {
         margin-left: 30px
      }
   }

   .links {
      color: $blueGraySeven;

      &::before {
         @include size(28px);
         display: none;
         content: ''
      }
   }

   [href="/get-flexr/"] { // Get It
      margin-right: 15px;
      margin-left: 15px;
      color: $blueGrayTwo;
      background: $cyan;

      &::before {
         background-position: 40% 66.666%
      }
   }

   [href="/flexr-grid/"]::before { // The Grid
      background-position: 0 66.666%
   }

   [href="/use-flexr/"]::before { // Use It
      background-position: 20% 66.666%
   }

   [href="/"] { // Home
      width: 170px;

      svg {
         padding-top: 1px
      }
   }
}

#the-grid #nav [href="/flexr-grid/"], #how-to #nav [href="/use-flexr/"] {
   color: $flexrRed
}

#download #nav [href="/get-flexr/"] {
   background: $blueGraySeven;
}

#the-grid #nav [href="/flexr-grid/"]::before, #how-to #nav [href="/use-flexr/"]::before, #download #nav [href="/get-flexr/"]::before {
   background-position-y: 100%
}


//  JS Classes

header#nav.nav-scroll {
   box-shadow: 0 2px 5px rgba(0,0,30,0.3);
   height: 80px
}


//  Icons

.with-icon::before {
   @include size(150px);
    margin: 0 auto 20px;
    content: '';
    background-position: 0 0
}

.primary, .secondary {
   @include btnAbs(150px 60px);
   color: $blueGraySeven;
   margin: 50px auto 0;
   background: $flexrRed
}

.secondary {
   color: $orange;
   background: none
}


@media only screen and (max-width:940px) {

   p {
      font-size: 18px
   }

   #nav .links {
      font-size: 17px
   }

}


@media only screen and (max-width:740px) {

   h1 {
      font-size: 34px
   }

   section {
      padding: 60px 0
   }

   #nav {

      [href="/"] { // Home
         width: 94px;

         svg * {
            fill: $blueGraySeven
         }
      }
   }

   #nav, header#nav.nav-scroll {
      height: 56px
   }

}


@media only screen and (max-width:470px) {

   .primary {
      margin: 50px auto 20px
   }

   .secondary {
      margin: 0 auto
   }

   #nav {
      box-shadow: 0 -1px 4px rgba(0,0,30,.3);
      top: auto;
      bottom: -1px;
      padding: 0 0 1px;
      background: lighten($blueGrayTwo,2);

      .links::before {
         display: block
      }

      [href="/get-flexr/"] {
         color: $blueGraySeven;
         background: none
      }
   }

   #nav nav.row a {
      margin: auto
   }

   #nav a.links {
      margin: 0;
      font-size: 0
   }

   #download #nav [href="/get-flexr/"] {
      background: none
   }

   #home #nav [href="/"] svg * {
      fill: $flexrRed
   }

}
