@import "../_sass/_vendor/turntable";

#hero {
   padding: 210px 0 150px;
   overflow: hidden;

   .row {
      @include align-items(center)
   }

   .container {
      @include smoothParent;
      @include ratio(1,0.6215);
      overflow: hidden;
   }
}

#bottom, #top {
   @include smoothMover;
   @include xy(0);
   position: absolute;
   -webkit-transition: 0.6s;
   transition: 0.6s
}

#bottom {
   -webkit-transition-delay: 0.3s;
   transition-delay: 0.3s
}

#top {
   -webkit-transition-delay: 0.6s;
   transition-delay: 0.6s
}

#hero-text {
   @include display(flex);
   @include flex-wrap(wrap);
   text-align: left;

   p {
      width: 96%;
      padding-bottom: 30px
   }

   .primary {
      margin: 0
   }

   .secondary {
      width: 90px;
      margin: 0 0 0 30px
   }
}

// Tablet Portrait
@media only screen and (max-width:740px) {

   #hero {
      padding: 60px 0 30px;
   }

   #hero-text .secondary {
      width: 70px;
      margin-left: 20px
   }

}

// Phone Portrait
@media only screen and (max-width:470px) {

   #hero-text {
      @include justify-content(center);
      margin-bottom: 20px;
      text-align: center;

      p {
         margin: 20px auto 0
      }

      a {
         margin: 0 auto 20px
      }
   }

}

// JS Classes

.forIntro #top, .forIntro #bottom {
   -webkit-transform: translateY(100%);
   transform: translateY(100%)
}
