//   The Grid

#grid-title::before {
    background-position: 40% 0
}

.example {
   @extend %center;
    height: auto;
    padding: 20px 0;
    font-size: 16px;
    box-sizing: border-box;
    background: $blueGrayFive;
    line-height: 1.1
}

.stretch div[class*="col"]:nth-of-type(even) .example {
    background: $blueGrayFour
}

@include tabletPor {

   .testr {
      position: absolute;
      left: -9999px
   }

};
