//   Get Flexr

#flexr-plus::before {
   background-position: 20% 0;

   @include phonePor {
      margin-top: 30px
   };
}

#download-section {

   a {
      @extend %light;
      padding: 50px 0 60px;

      &:hover {
         background: $blueGrayThree;

         @include phoneLan {
            background: none;
         };
      }

      &:active {
         background: $blueGrayThree;
      }
   }

}

#linkcopy {
   width: 160px
}
