//  Home

%animationTiming {
   -webkit-transition: 0.6s;
   transition: 0.6s;
}


#expand {
   background: darken($blueGrayTwo,2);

   .row {
      @include align-items(center)
   }
}

#why-text {
   @extend %box;
   @include flex-direction(column);
   @include justify-content(center);
   margin-bottom: 6px;

   @include phonePor {
      text-align: center;
   };

   ul {
      margin-top: 15px
   }

   li {
      @extend %left;
      @extend %light;
      @extend %color-seven;
      list-style: square;
      margin-left: 1.25em;
      line-height: 1.6;

      @include phonePor {
         font-size: 18px
      };

      &::first-letter {
         text-transform: capitalize;
      }
   }
}

#why-image {

   @include phonePor {
      order: 2
   };

   img {
      width: 90%;
      margin: 0 auto;

      @include phonePor {
         width: 100%
      };
   }
}

#browsers {

   li, p {
      @extend %center;
   }

   li {
      @extend %color-seven;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.2;


      &::after {
         display: block;
         margin-top: 2px;
      }
   }

   .browser::before {
      @extend %block;
      @extend %useSprite;
      @include size(60px);
      content: '';
      margin: 0 auto 10px;

      @include phoneLan {
         @include size(46px);
      };
   }

   .firefox {

      &::before {
         background-position: 0 33.333%
      }

      &::after {
         content: '28+';
      }
   }

   .chrome {

      &::before {
         background-position: 40% 33.222%;
      }

      &::after {
         content: '26+';
      }
   }

   .safari {

      &::before {
         background-position: 20% 33.333%;
      }

      &::after {
         content: '6.1+';
      }
   }

   .opera {

      &::before {
         background-position: 60% 33.333%;
      }

      &::after {
         content: '15+';
      }
   }

   .edge {

      &::before {
         background-position: 80% 33.333%;
      }

      &::after {
         content: '12+';
      }
   }

   .explorer {

      &::before {
         background-position: 100% 33.333%;
      }

      &::after {
         content: '10+';
      }
   }
}
