//  Home

%animationTiming {
   @include transition(.6s)
}

#hero {
   padding: 210px 0 150px;
   overflow: hidden;

   .row {
      @extend %smoothParent;
      @include align-items(center)
   }

   pre {
      margin-bottom: 0
   }

   .container {
      @include size(100% auto);
      @include ratio(1,0.6215);
      position: relative;
      overflow: hidden;
   }
}

#hero-text {
   @extend %box;
   @extend %animationTiming;
   @extend %smoothMover;
   @include flex-wrap(wrap);
   @include transition-property(opacity);
   @include transition-delay(1s);

   h1 {
      text-align: left
   }

   p {
      width: 96%;
      padding-bottom: 30px
   }

   .primary {
      margin: 0
   }

   .secondary {
      width: 90px;
      margin: 0 0 0 30px
   }
}

#expand {
   background: darken($blueGrayTwo,2);

   .row {
      @include align-items(center)
   }
}

#expand-text {
   @extend %box;
   @include flex-direction(column);
   @include justify-content(center);
}

#hero-image .container {
   @extend %smoothParent;
}

#bottom, #top {
   @extend %animationTiming;
   @extend %smoothMover;
   @include size(100% auto);
   @include transition-delay(.3s);
   position: absolute;
   top: 0;
   left: 0;
}

#expand-image img {
   width: 90%;
   margin: 0 auto;
}

#top {
   @include transition-delay(.6s);
}

#browsers {

   p {
      text-align: center
   }

   .browser {
      @extend %useSprite;
      @include size(92% auto);
      @include ratio(1);
      margin: 0 auto;

      @include tabletPor {
         width: 60%
      };

      & + p {
         margin-top: 10px;
         font-size: 15px;
         line-height: 1.2
      }
   }

   .firefox {
      background-position: 0 33.333%
   }

   .chrome {
      background-position: 40% 33.333%
   }

   .safari {
      background-position: 20% 33.333%
   }

   .opera {
      background-position: 60% 33.333%
   }

   .edge {
      background-position: 80% 33.333%
   }
}
