//  Use It

#release {
   padding-top: 120px;

   & ~ p:last-of-type {
      padding-bottom: 50px
   }
}

.pre::after {
   display: block;
   content: 'HTML';
   position: absolute;
   top: 29px;
   right: 32px;
   font-family: Roboto, sans-serif;
   font-weight: 700;
   font-size: 0.7rem;
   letter-spacing: 0.2pt;
   opacity: 0.35
}

.pre {
   width: 100%;
   // overflow:hidden;
}
