//  Use It

#release {
   padding: 120px 0 24px;

   & ~ p {
      margin-top: 6px;

      strong {
         color: #99B
      }
   }

   & ~ p:last-of-type, & ~ p:nth-last-of-type(2) {
      margin-top: 30px
   }

   & ~ p:last-of-type {
      padding-bottom: 50px
   }
}

.pre::after {
   display: block;
   content: 'HTML';
   position: absolute;
   top: 29px;
   right: 32px;
   font-family: Roboto, sans-serif;
   font-weight: 700;
   font-size: 0.7rem;
   letter-spacing: 0.2pt;
   opacity: 0.36
}

.pre {
   width: 100%
}
