footer {
   font-size: 15px;
   line-height: 1.4;
   color: $blueGraySix;
   background: $blueGrayOne;

   .row div:last-child {
      @extend %box;
      @include flex-wrap(wrap)
   }

   img {
      @include align-self(flex-start);
      @include filter(hue-rotate(240deg) saturate(10%) brightness(110%));
      width: 27%;
      margin-top: 50px
   }

   address {
      width: 100%;
      margin: 50px 0 25px;
      line-height: 1.5
   }

   small {
      @include align-self(flex-end);
      margin-bottom: 50px;
      line-height: 1.3
   }

   p {
      font-size: inherit;
      margin-bottom: 50px
   }

}
