#nav {
   @extend %smoothMover;
   @include transition(0.3s);

   a {

      &:first-of-type {
         @include transform(translateZ(0));
      }
   }

   .links {

      &:hover, &:active {
         color: $flexrRed
      }

      &:active::before {

         @include phonePor {
            background-position-y: 100%
         };
      }
   }

   [href="/get-flexr/"] { // Get It

      &:hover, &:active {
         color: $blueGrayTwo;
         background: $blueGraySeven
      }

      @include phonePor {

         &:hover, &:active {
            background: none;
         }
      };
   }

   [href="/"] { // Home
      cursor: default;

      svg {
         cursor: pointer;

         &:hover * {
            fill: $blueGraySeven;
         }

         @include phoneLan {

            &:active * {
               fill: $flexrRed;
            }
         };
      }
   }
}
