---
layout: compress
---

<!DOCTYPE html><html lang="en">
<head>

   {%- include head.html -%}

</head>

<body id="{{ page.bodyID }}">

   <!--[if !IE]> -->

   <link href="https://cdn.jsdelivr.net/gh/dmbdesignpdx/flexr@2.0.5/flexr.css" rel="stylesheet">

   <link href="/css/master.css" rel="stylesheet" lazyload="1"><script> </script>

   <!-- <![endif]-->

   {%- include nav.html -%}

   {%- if page.bodyID == 'how-to' -%}

   <main>

      <section>

         <div class="row header">

             <div class="col-12">

                 <h1 id="doc-title" class="with-icon">Flexr Documentation</h1>

             </div>

         </div>

         <div class="row">

             <div class="col-12">

                {{ content }}

             </div>

        </div>

      </section>

   </main>

   {%- include cta.html -%}

   {%- else -%}

   {{ content }}

   {%- endif -%}

   {%- include footer.html -%}

</body></html>
